<!-- 
<div class="row" >
     <div class="col-md-4 mx-auto">
        <div class="myform form ">
          
          <h2> Add Store Info</h2>
          <hr>
           <form [formGroup]="productInfo" (ngSubmit)="storeProductDetails()">
              
              <div class="form-group">
                 <label>Product ID :</label>
                 <input type="number" formControlName="pid"  class="form-control my-input" id="pid" placeholder="Product Id" ngModal>
              </div>

              <div class="form-group">
                 <label>Store ID :</label>
                 <input type="number" formControlName="sid"  class="form-control my-input" id="sid" placeholder="Store Id" ngModal>
              </div>
              
              <div class="form-group">
                 <label>Product Name :</label>
                 <input type="text" formControlName="pname"  class="form-control my-input" id="pname" placeholder="Product Name" ngModal>
              </div>

              <div class="form-group">
                 <label>Category :</label>
                 <input type="text" formControlName="category"  class="form-control my-input" id="category" placeholder="Category" ngModal>
               </div>
              
              <div class="form-group">
                 <label>Shelf-Location :</label>
                 <input type="text" formControlName="shelflocation" id="shelflocation"  class="form-control my-input" placeholder="Shelf-Location" ngModal>
              </div>
               
               <div class="form-group">
                  <label>Cost-Price :</label>
                  <input type="number"  formControlName="costprice" id="costprice"  class="form-control my-input" placeholder="Cost-Price" ngModal>
               </div>
              
               <div class="form-group">
                  <label>MRP :</label>
                  <input type="number"  formControlName="mrp" id="mrp"  class="form-control my-input" placeholder="MRP" ngModal>
               </div>
               
               <div class="form-group">
                  <label>Manufacturer :</label>
                  <input type="text" formControlName="manufacturer" id="manufacturer"  class="form-control my-input" placeholder="Manufracturer" ngModal>
               </div>
               
               <div class="text-center ">
                  <input type="submit" value="Store Product info"/>&nbsp;
                  <input type="reset" value="reset" />
               </div>
              
           </form>
           {{msg}}
        </div>
     </div>
  -->
  <app-dashboard></app-dashboard>
<div class="bg-image">
  <div class="container">    
   <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
       <div class="panel panel-info" >
               <div class="panel-heading">
                   <div class="panel-title">Store Product Details
                   </div>
                </div>     

               <div style="padding-top:30px" class="panel-body" >

                   <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                       
                   <form [formGroup]="productInfo" (ngSubmit)="storeProductDetails()">
              
                     <div class="form-group">
                        <label>Product ID :</label>
                        <input type="number" formControlName="pid"  class="form-control my-input" id="pid" placeholder="Product Id" ngModal>
                     </div>
       
                     <div class="form-group">
                        <label>Store ID :</label>
                        <input type="number" formControlName="sid"  class="form-control my-input" id="sid" placeholder="Store Id" ngModal>
                     </div>
                     
                     <div class="form-group">
                        <label>Product Name :</label>
                        <input type="text" formControlName="pname"  class="form-control my-input" id="pname" placeholder="Product Name" ngModal>
                     </div>
       
                     <div class="form-group">
                        <label>Category :</label>
                        <input type="text" formControlName="category"  class="form-control my-input" id="category" placeholder="Category" ngModal>
                      </div>
                     
                     <div class="form-group">
                        <label>Shelf-Location :</label>
                        <input type="text" formControlName="shelflocation" id="shelflocation"  class="form-control my-input" placeholder="Shelf-Location" ngModal>
                     </div>
                      
                      <div class="form-group">
                         <label>Cost-Price :</label>
                         <input type="number"  formControlName="costprice" id="costprice"  class="form-control my-input" placeholder="Cost-Price" ngModal>
                      </div>
                     
                      <div class="form-group">
                         <label>MRP :</label>
                         <input type="number"  formControlName="mrp" id="mrp"  class="form-control my-input" placeholder="MRP" ngModal>
                      </div>
                      
                      <div class="form-group">
                         <label>Manufacturer :</label>
                         <input type="text" formControlName="manufacturer" id="manufacturer"  class="form-control my-input" placeholder="Manufracturer" ngModal>
                      </div>
                      
                      <div class="text-center ">
                         
                         <button type="button" class="btn btn-success">Store Product Info</button>&nbsp;
                         <button type="button" class="btn btn-success">Reset </button>
                         
                      </div>
                     
                  </form>
                  {{msg}}
               </div>
            </div>  
         </div>