<app-dashboard></app-dashboard>
<div class="bg-image">
  <div class="container">
    <h2 style="color: black">Manage Retailers</h2>

    <div>
      <button type="button" class="btn btn-success" (click)="btnClick()">
        Add New Retailers
      </button>
      <hr />
      <table
        border="1"
        class="table table-striped"
        style="border: 0px solid rgba(15, 15, 15, 0.1)"
      >
        <tr style="background-color: rgba(151, 223, 64, 0.9)">
          <th>Retailer Id</th>
          <th>Retailer Name</th>
          <th>EmailId</th>
          <th>Password</th>
          <th>PhoneNumber</th>
          <th>Address</th>
          <th>Actions</th>
        </tr>
        <tr
          *ngFor="let store of retailerInfo"
          style="background-color: rgba(226, 221, 221, 0.9)"
        >
          <td>{{ store.rid }}</td>
          <td>{{ store.rname }}</td>
          <td>{{ store.remail }}</td>
          <td>{{ store.rpassword }}</td>
          <td>{{ store.rphone }}</td>
          <td>{{ store.raddress }}</td>
          <td>
            <button type="button" (click)="btnUpdate()" class="btn btn-warning">
              Update</button
            >&nbsp;
            <button type="button" (click)="btnDelete()" class="btn btn-danger">
              Delete
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
