<!-- <link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
/>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"
></script>
<div class="d-flex" id="wrapper">
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading"></div>
    <div class="list-group list-group-flush">
      <ul class="menu" style="color: blanchedalmond">
        <h3 style="color: blanchedalmond; font-weight: bold">Welcome Admin!</h3>
        <br />
        <li>
          <a routerLink="/RetrieveProduct" style="color: blanchedalmond"
            >Manage Product Details</a
          >
        </li>
        <li>
          <a routerLink="/RetrieveBill" style="color: blanchedalmond"
            >Manage Bill Details</a
          >
        </li>
        <li>
          <a routerLink="/RetrieveStore" style="color: blanchedalmond"
            >Manage Store Details</a
          >
        </li>
        <li>
          <a routerLink="/RetrieveOrders" style="color: blanchedalmond"
            >Manage Order Details</a
          >
        </li>
        <li>
          <a routerLink="/RetrieveRetailer" style="color: blanchedalmond"
            >Manage Retailer's Details</a
          >
        </li>
        <li>
          <a routerLink="/RetrieveEmployee" style="color: blanchedalmond"
            >Manage Employee's Details</a
          >
        </li>
      </ul>
    </div>
  </div>

  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <button class="btn btn-primary" id="menu-toggle">☰</button>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a routerLink="/RetrieveProduct" style="color: blanchedalmond"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
        </ul>
      </div>

      <div class="a">
        <a
          class="nav-link"
          href="#"
          value="logout"
          (click)="logout()"
          float="right"
          style="color: blanchedalmond"
          >Logout <span class="sr-only">(current)</span></a
        >
      </div>
    </nav>
  </div>
</div> -->
<app-admin-header></app-admin-header>
<nav id="menu">
  <div class="container">
    <ul>
      <li style="color: #737375">
        <a routerLink="/RetrieveProduct" routerLinkActive="active"
          >Manage Product
        </a>
      </li>
      <li>
        <a routerLink="/RetrieveBill" routerLinkActive="active">Manage Bill </a>
      </li>
      <li>
        <a routerLink="/RetrieveStore" routerLinkActive="active"
          >Manage Store
        </a>
      </li>
      <li>
        <a routerLink="/RetrieveOrders" routerLinkActive="active"
          >Manage Orders
        </a>
      </li>
      <li>
        <a routerLink="/RetrieveRetailer" routerLinkActive="active"
          >Manage Retailer
        </a>
      </li>
      <li>
        <a routerLink="/RetrieveEmployee" routerLinkActive="active"
          >Manage Employee
        </a>
      </li>
    </ul>
  </div>
</nav>
