 /* ng-sidebar-container{
    
    height:100vh;
}

::ng-deep .ng-sidebar{
    background-color: #f4f4f4;
    width:300px;
    padding:2em 3em;
    box-shadow: 0 0 2.5em rgba(19, 18, 18, 0.5)
}

.menu{
    margin-top:2em;
    display:block;
    
      
}
.menu li{
    margin-bottom:15px;
}
.menu li a{
    display : block;
    width:100%;
}

 */
 body {
    overflow-x: hidden;
  }
  
  #sidebar-wrapper {
    min-height: 160vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }
  .bg-light {
    background-color: rgb(8, 8, 8)!important;
}
/* #page-content-wrapper{background-color: rgb(241, 238, 238);} */

.menu{
    margin-top:2em;
    display:block;
    
      
}
.menu li{
    margin-bottom:15px;
}
.menu li a{
    display : block;
    width:100%;
}