


<script>
    $(document).ready(function(){
  // Activate tooltip
  $('[data-toggle="tooltip"]').tooltip();
  
  // Select/Deselect checkboxes
  var checkbox = $('table tbody input[type="checkbox"]');
  $("#selectAll").click(function(){
      if(this.checked){
          checkbox.each(function(){
              this.checked = true;                        
          });
      } else{
          checkbox.each(function(){
              this.checked = false;                        
          });
      } 
  });
  checkbox.click(function(){
      if(!this.checked){
          $("#selectAll").prop("checked", false);
      }
  });
});
</script>

<app-dashboard></app-dashboard>
<div class="table-wrapper">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-8">
                <h2>Manage <b>Stores</b></h2>
            </div>
        
            
        </div>
    </div>
    <div class="col-sm-6">
        <a routerLink="/RetrieveStore" class="btn btn-warning" data-toggle="modal"><i class="fa fa-refresh" aria-hidden="true"></i> <span>Refresh</span></a>&nbsp;
        <a routerLink="/StoreStore" class="btn btn-success" data-toggle="modal"><i class="fa fa-plus-circle" aria-hidden="true"></i> <span>Add </span></a>&nbsp;
        <a routerLink="/UpdateStore" class="btn btn-danger" data-toggle="modal"><i class="fa fa-minus-circle" aria-hidden="true"></i> <span>Update</span></a>&nbsp;					
        <a routerLink="/DeleteStore" class="btn btn-info" data-toggle="modal"><i class="fa fa-pencil-square" aria-hidden="true"></i> <span>Delete</span></a>&nbsp;
    </div>
   
</div>
