

  <style>
    .send-button{
 background: #54C7C3;
 width:100%;
 font-weight: 600;
 color:#fff;
 padding: 8px 25px;
 }
 input[type=number]::-webkit-inner-spin-button, 
 input[type=number]::-webkit-outer-spin-button { 
   -webkit-appearance: none; 
   margin: 0; 
 }
 .g-button{
 color: #fff !important;
 border: 1px solid #EA4335;
 background: #ea4335 !important;
 width:100%;
 font-weight: 600;
 color:#fff;
 padding: 8px 25px;
 }
 .my-input{
 box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
 cursor: text;
 padding: 8px 10px;
 transition: border .1s linear;
 }
 .header-title{
 margin: 5rem 0;
 }
 h1{
 font-size: 31px;
 line-height: 40px;
 font-weight: 600;
 color:#4c5357;
 }
 h2{
 color: #5e8396;
 font-size: 21px;
 line-height: 32px;
 font-weight: 400;
 }
 .login-or {
 position: relative;
 color: #aaa;
 margin-top: 10px;
 margin-bottom: 10px;
 padding-top: 10px;
 padding-bottom: 10px;
 }
 .span-or {
 display: block;
 position: absolute;
 left: 50%;
 top: -2px;
 margin-left: -25px;
 background-color: #fff;
 width: 50px;
 text-align: center;
 }
 .hr-or {
 height: 1px;
 margin-top: 0px !important;
 margin-bottom: 0px !important;
 }
 @media screen and (max-width:480px){
 h1{
 font-size: 26px;
 }
 h2{
 font-size: 20px;
 }
 }
 </style>
 
 <div>
   <div class="col-md-6 mx-auto text-center">
      
   </div>
   <div class="row" >
      <div class="col-md-4 mx-auto">
         <div class="myform form ">
           <br/>
           <br/>
           <hr>
           <br/>
            <form [formGroup]="billInfo" (ngSubmit)="storeBillDetails()">
               <div class="form-group">
                  <input type="number" formControlName="bid"  class="form-control my-input" id="bid" placeholder="Bill Id" ngModal>
               </div>
               <div class="form-group">
                  <input type="text" formControlName="ename"  class="form-control my-input" id="ename" placeholder="Employee Name" ngModal>
               </div>

               <div class="form-group">
                <input type="text" formControlName="cname"  class="form-control my-input" id="cname" placeholder="Customer Name" ngModal>
              </div>

              <div class="form-group">
                <input type="text" formControlName="pname"  class="form-control my-input" id="pname" placeholder="Product Name" ngModal>
              </div>

              <div class="form-group">
                <input type="number" formControlName="qty"  class="form-control my-input" id="qty" placeholder="Quantity of Products" ngModal>
              </div>

              <div class="form-group">
                <input type="number" formControlName="price"  class="form-control my-input" id="price" placeholder="Total Price(Bill)" ngModal>
              </div>
               
               
              
             <div class="form-group">
               <input type="date" formControlName="dop" id="dop"  class="form-control my-input" placeholder="Date of Product for Billing" ngModal>
             </div>
               
             <div class="text-center ">
                 <input type="submit" value="store Bill info" />
                <input type="reset" value="reset" /> 

                
              </div>
               
            </form>
            {{msg}}
         </div>
      </div>
   </div>
 </div>
 
 <!-- <div>
    <h2>Store Bill Details</h2>
    <form [formGroup]="billInfo" (ngSubmit)="storeBillDetails()">
      <label>Bill id :</label>
      <input type="number" formControlName="bid" /><br />
      <label>Employee Name :</label>
      <input type="text" formControlName="ename" /><br />
      <label>Customer Name :</label>
      <input type="text" formControlName="cname" /><br />
      <label>Product Name :</label>
      <input type="date" formControlName="pname" /><br />
      <label>Quantity of Products :</label>
      <input type="number" formControlName="qty" /><br />
      <label>Total Price(Bill) :</label>
      <input type="number" formControlName="price" /><br />
      <label>Date of Product for Billing :</label>
      <input type="date" formControlName="dop" /><br />
      <input type="submit" value="store Bill info" />
      <input type="reset" value="reset" />
    </form>
    {{ msg }}
  </div> -->
