<app-dashboard></app-dashboard>
<router-outlet></router-outlet>
<div class="bg-image">
<div class="container">
    <h2>Manage Bills</h2>
 
    <div>
        
        <button type="button" class="btn btn-success"  (click)="btnClick();">Add New Bills</button>
        <hr>
        <table border="1"class="table table-striped" style="border: 0px solid rgba(15, 15, 15, 0.1);">
            <tr style="background-color: rgba(151, 223, 64, 0.9);">
                    <th>Bill Id</th>
                    <th>C Id</th>
                    <th>Order Id</th>
                    <th>Store Id</th>
                    <th>Customer Name</th>
                    <th>Employee Name</th>
                    <th>Product Name</th>
                    <th> Product Qty</th>
                    <th>Total Price(Bill)</th>
                    <th>Billing Date</th>
                    <th> Actions</th>
           
            </tr>
            <tr *ngFor="let store of billInfo" style="background-color: rgba(226, 221, 221, 0.9);">
                    <td>{{store.bid}}</td>
                    <td>{{store.cid}}</td>
                    <td>{{store.oid}}</td>
                    <td>{{store.sid}}</td>
                    <td>{{store.cname}}</td>
                    <td>{{store.ename}}</td>
                    <td>{{store.pname}}</td>
                    <td>{{store.qty}}</td>
                    <td>{{store.price}}</td>
                    <td>{{store.dop}}</td>
                    <td>
                        <button type="button" (click)="btnUpdate()" class="btn btn-warning">Update</button>&nbsp;
                        <button type="button" (click)="btnDelete()"class="btn btn-danger">Delete</button> 
                    </td>
             </tr>
            </table>

           
    </div>     
   </div> 
       