
   <app-dashboard></app-dashboard>
   <div class="bg-image">
   <div class="container">    
      <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
          <div class="panel panel-info" >
                  <div class="panel-heading">
                     <div class="panel-title">Update Retailer Details</div>
                   </div>     

                  <div style="padding-top:30px" class="panel-body" >

                      <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                          
                      <form #retailerRef="ngForm"
             (ngSubmit)="UpdateRetailerInfo(retailerRef.value)">
                <div class="form-group">
                   <label>Retailer ID :</label>
                   <input type="number" name="rid" class="form-control my-input" placeholder="Retailer Id"ngModel />
                </div>
                
                <div class="form-group">
                   <label>Retailer's Contact :</label>
                  <input type="phonenumber" name="rphone" class="form-control my-input" placeholder="Retailer's Phone Number" ngModel />
                 </div>
              
                <div class="text-center ">
                   <input type="submit" value="Update Retailer Details "/>
                    <input type="reset" value="reset" /> 
                    
                  </div>
                
             </form>
             <br/>
             <h3 style="text-align: center;">{{msg}}</h3>
          </div>
       </div>
      </div>
