<!-- <div>
    <h2>Update Price Using Store-Id </h2>
    <form 
    #ordersRef="ngForm"
     (ngSubmit)="UpdateOrdersInfo(ordersRef.value)">
    <label>Order ID :</label>
    <input type="number" name="oid" ngModel/><br/>
    
    <label>Ordered Product's Price :</label>
    <input type="number" name="oprice" ngModel><br/>
    <input type="submit" value="update price"/>
    <input type="reset" value="reset"/>
    </form>
    {{msg}}
    
</div> -->


<style>
    body{
      display: inline;
    }
   
    .send-button{
  background: #54C7C3;
  width:100%;
  font-weight: 600;
  color:#fff;
  padding: 8px 25px;
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
  .g-button{
  color: #fff !important;
  border: 1px solid #EA4335;
  background: #ea4335 !important;
  width:100%;
  font-weight: 600;
  color:#fff;
  padding: 8px 25px;
  }
  .my-input{
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  cursor: text;
  padding: 8px 10px;
  transition: border .1s linear;
  }
  
  
  .login-or {
  position: relative;
  color: #aaa;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  }
  .span-or {
  display: block;
  position: absolute;
  left: 50%;
  top: -2px;
  margin-left: -25px;
  background-color: #fff;
  width: 50px;
  text-align: center;
  }
  .hr-or {
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  }
  @media screen and (max-width:480px){
  h1{
  font-size: 26px;
  }
  h2{
  font-size: 20px;
  }
  }
  </style>

<app-manage-orders></app-manage-orders>
  <div class="container">
    
    <div class="row">
       <div class="col-md-4 mx-auto">
          <div class="myform form ">
            <br/>
            
            <br/>
             <form  #ordersRef="ngForm"
             (ngSubmit)="UpdateOrdersInfo(ordersRef.value)">
                <div class="form-group">
                   <input type="number" name="oid" class="form-control my-input" placeholder="Order Id"ngModel />
                </div>
                
                <div class="form-group">
                  <input type="number" name="oprice" class="form-control my-input" placeholder="Ordered Product's Price" ngModel />
                 </div>
              
                <div class="text-center ">
                   <input type="submit" value="Update Price" />
                    <input type="reset" value="reset" />
                    
                  </div>
                
             </form>
             {{msg}}
          </div>
       </div>
    </div>
  </div>
  
  