<app-dashboard></app-dashboard>
<div class="bg-image">
  <div class="container">
    <h2 style="color: black">Manage Stores</h2>

    <div>
      <button type="button" class="btn btn-success" (click)="btnClick()">
        Add New Store's
      </button>
      <hr />
      <table
        border="1"
        class="table table-striped"
        style="border: 0px solid rgba(15, 15, 15, 0.1)"
      >
        <tr style="background-color: rgba(151, 223, 64, 0.9)">
          <th>Store Id</th>
          <th>Product Id</th>
          <th>Orders Id</th>
          <th>Employee Id</th>
          <th>Store Name</th>
          <th>Contact</th>
          <th>Address</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
        <tr
          *ngFor="let store of storeInfo"
          style="background-color: rgba(226, 221, 221, 0.9)"
        >
          <td>{{ store.storeid }}</td>
          <td>{{ store.pid }}</td>
          <td>{{ store.oid }}</td>
          <td>{{ store.eid }}</td>
          <td>{{ store.storename }}</td>
          <td>{{ store.contact }}</td>
          <td>{{ store.address }}</td>
          <td>{{ store.email }}</td>
          <td>
            <button type="button" (click)="btnUpdate()" class="btn btn-warning">
              Update</button
            >&nbsp;
            <button type="button" (click)="btnDelete()" class="btn btn-danger">
              Delete
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
