<!-- <div>
    <h2>Store Store Details</h2>
    <form [formGroup]="storeInfo" (ngSubmit)="storeStoreDetails()">
      <label>Store id :</label>
      <input type="number" formControlName="storeid" /><br />
      <label>Contact :</label>
      <input type="number" formControlName="contact"/><br/>
      <label>Address :</label>
      <input type="text" formControlName="address" /><br />
      <label>Store Name :</label>
      <input type="text" formControlName="storename" /><br />
      <label>Email :</label>
      <input type="email" formControlName="email" /><br />
      <label>Product Name :</label>
      <input type="text" formControlName="pname" /><br />
      <label>Product Price :</label>
      <input type="number" formControlName="productprice" /><br />
      <input type="submit" value="store Store info" />
      <input type="reset" value="reset" />
    </form>
    {{ msg }}
  </div> -->

  <style>
    .send-button{
 background: #54C7C3;
 width:100%;
 font-weight: 600;
 color:#fff;
 padding: 8px 25px;
 }
 input[type=number]::-webkit-inner-spin-button, 
 input[type=number]::-webkit-outer-spin-button { 
   -webkit-appearance: none; 
   margin: 0; 
 }
 .g-button{
 color: #fff !important;
 border: 1px solid #EA4335;
 background: #ea4335 !important;
 width:100%;
 font-weight: 600;
 color:#fff;
 padding: 8px 25px;
 }
 .my-input{
 box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
 cursor: text;
 padding: 8px 10px;
 transition: border .1s linear;
 }
 .header-title{
 margin: 5rem 0;
 }
 h1{
 font-size: 31px;
 line-height: 40px;
 font-weight: 600;
 color:#4c5357;
 }
 h2{
 color: #5e8396;
 font-size: 21px;
 line-height: 32px;
 font-weight: 400;
 }
 .login-or {
 position: relative;
 color: #aaa;
 margin-top: 10px;
 margin-bottom: 10px;
 padding-top: 10px;
 padding-bottom: 10px;
 }
 .span-or {
 display: block;
 position: absolute;
 left: 50%;
 top: -2px;
 margin-left: -25px;
 background-color: #fff;
 width: 50px;
 text-align: center;
 }
 .hr-or {
 height: 1px;
 margin-top: 0px !important;
 margin-bottom: 0px !important;
 }
 @media screen and (max-width:480px){
 h1{
 font-size: 26px;
 }
 h2{
 font-size: 20px;
 }
 }
 </style>
 
 <div>
   <div class="col-md-6 mx-auto text-center">
      
   </div>
   <div class="row" >
      <div class="col-md-4 mx-auto">
         <div class="myform form ">
           <br/>
           <br/>
           <hr>
           <br/>
            <form [formGroup]="storeInfo" (ngSubmit)="storeStoreDetails()">
               <div class="form-group">
                  <input type="number" formControlName="storeid"  class="form-control my-input" id="storeid" placeholder="Store Id" ngModal>
               </div>
               <div class="form-group">
                  <input type="phonenumber" formControlName="contact"  class="form-control my-input" id="contact" placeholder="Contact" ngModal>
               </div>
               <div class="form-group">
                  <input type="text" formControlName="address" id="address"  class="form-control my-input" placeholder="Address" ngModal>
               </div>
               <div class="form-group">
                 <input type="text"  formControlName="storename" id="storename"  class="form-control my-input" placeholder="Store Name" ngModal>
              </div>
              <div class="form-group">
               <input type="email"  formControlName="email" id="email"  class="form-control my-input" placeholder="Email" ngModal>
             </div>
             <div class="form-group">
              <input type="text" formControlName="pname" id="pname"  class="form-control my-input" placeholder="Product Name" ngModal>
             </div>
             <div class="form-group">
               <input type="number" formControlName="productprice" id="productprice"  class="form-control my-input" placeholder="Product Price" ngModal>
             </div>
               <div class="text-center ">
                 <input type="button" value="store Store info" />
                 <input type="reset" value="reset" />
                </div>
               
            </form>
            {{msg}}
         </div>
      </div>
   </div>
 </div>
 