<app-dashboard></app-dashboard>
<div class="bg-image">
<div class="container">
    
    <h2 font-color="White">Manage products</h2>
     
    <div>
        
        <button type="button" class="btn btn-success"  (click)="btnClick();">Add New Products</button>
        <hr>

        <table border="1"class="table table-striped" style="border: 0px solid rgba(15, 15, 15, 0.1);">
            <tr style="background-color: rgba(151, 223, 64, 0.9);">
                    <th>Product Id</th>
                    <th>Store Id</th>
                    <th>Product Name</th>
                    <th>Category</th>
                    <th>Shelf-Location</th>
                    <th>Cost-Price</th>
                    <th>MRP</th>
                    <th>Manufracturer</th>
                    <th>Actions</th>
            </tr>
            <tr *ngFor="let store of productInfo" style="background-color: rgba(226, 221, 221, 0.9);" >
                   
                    <td >{{store.pid}}</td>
                    <td>{{store.sid}}</td>
                    <td>{{store.pname}}</td>
                    <td>{{store.category}}</td>
                    <td>{{store.shelflocation}}</td>
                    <td>{{store.costprice}}</td>
                    <td>{{store.mrp}}</td>
                    <td>{{store.manufacturer}}</td>
                
                    <td>
                        <button type="button" (click)="btnUpdate()" class="btn btn-warning">Update</button>&nbsp;
                        <button type="button" (click)="btnDelete()"class="btn btn-danger">Delete</button> 
                    </td>
             </tr>
            </table>

           
    </div>     
</div>
