
<nav id="menu">
    <div class="container">
      <div class="trigger"></div>
      <ul>
        <li><a routerLink="/ProductPage">New collection</a></li>
        <li><a routerLink="/allNecklace">Necklaces</a></li>
        <li><a routerLink="/allRings">rings</a></li>
        <li><a routerLink="/allBracelet">Bracelets</a></li>
    
        <div class="dropdown">
          <li><a routerLink="/Sorts">Sort By</a></li>
          <div class="dropdown-content">
          <a routerLink="/ProductMfgAsc" > Manufacturing Stores Ascending</a>
          <a routerLink="/ProductMfgDesc"> Manufacturing Stores Descending</a>
          <a routerLink="/allproductspricebyasc" > Price Low to high</a>
          <a routerLink="/allproductspricebydesc"> Price High to low</a>
          <a routerLink="/allproductsnameasc">Product name Ascending</a>
          <a routerLink="/allproductsnamedesc">Product name Decending</a>
          
                <!-- <input type = "submit" value = "Search" class = "btn btn-default"> -->

          
      
          </div>
        </div>

      
      

      </ul>
    </div>
  </nav>