
<app-dashboard></app-dashboard>
<div class="bg-image">
   <div class="container">    
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
        <div class="panel panel-info" >
                <div class="panel-heading">
                    <div class="panel-title">Update Bill Details</div>
                   </div>     

                <div style="padding-top:30px" class="panel-body" >

                    <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                        
                    
                    <form #billRef="ngForm"
             (ngSubmit)="UpdateBillInfo(billRef.value)">
                <div class="form-group">
                  <label>Bill ID :</label>
                   <input type="number" name="bid" class="form-control my-input" placeholder="Bill Id"ngModel />
                </div>
                
                <div class="form-group">
                  <label>Product Price :</label>
                  <input type="number" name="productprice" class="form-control my-input" placeholder="Product Price" ngModel />
                 </div>
              
                <div class="text-center ">
                  <input type="submit" value="Update Price Info" />&nbsp;
                    <input type="reset" value="reset" />
                  </div>
                
             </form>
             <br/>
             <h3 style="text-align: center;">{{msg}}</h3>
          </div>
       </div>
       </div>
