<footer id="footer">
  <div class="container">
    <div class="cols">
      <div class="col media">
        <h3>Social media</h3>
        <ul class="social">
          <li>
            <a href="http://www.facebook.com"
              ><span class="ico ico-fb"></span>Facebook</a
            >
          </li>
          <li>
            <a href="http://www.twitter.com"
              ><span class="ico ico-tw"></span>Twitter</a
            >
          </li>
        </ul>
      </div>
      <div class="col contact">
        <h3>Contact us</h3>
        <p>Hiralal & Sons <br />FC road<br />Pune Maharashtra</p>
        <p><span class="ico ico-em"></span><a>contact@hiralalandsons.com</a></p>
        <p><span class="ico ico-ph"></span>89899223345</p>
      </div>
      <div class="col newsletter">
        <h3>Want more information?</h3>
        <p>
          Type in your mail we will get in touch with you with our wide range of
          products.
        </p>
        <form>
          <input type="text" placeholder="Your email address..." />
          <button type="submit"></button>
        </form>
      </div>
    </div>
  </div>
</footer>
