<app-dashboard></app-dashboard>
<div class="bg-image">
  <div class="container">
    <div
      id="loginbox"
      style="margin-top: 50px"
      class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2"
    >
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">Store Retailers Info</div>
        </div>

        <div style="padding-top: 30px" class="panel-body">
          <div
            style="display: none"
            id="login-alert"
            class="alert alert-danger col-sm-12"
          ></div>

          <form [formGroup]="retailerInfo" (ngSubmit)="storeRetailerDetails()">
            <div class="form-group">
              <label>Retailer ID :</label>
              <input
                type="number"
                formControlName="rid"
                class="form-control my-input"
                id="rid"
                placeholder="Retailer Id"
                ngModal
              />
            </div>

            <div class="form-group">
              <label>Retailer Name :</label>
              <input
                type="text"
                formControlName="rname"
                class="form-control my-input"
                id="rname"
                placeholder="Retailer Name"
                ngModal
              />
            </div>

            <div class="form-group">
              <label>Retailer's Email-ID :</label>
              <input
                type="email"
                formControlName="remail"
                id="email"
                class="form-control my-input"
                placeholder="Retailer EmailId"
                ngModal
              />
            </div>
            <div class="form-group">
              <label>Retailer's Address :</label>
              <input
                type="text"
                formControlName="raddress"
                id="address"
                class="form-control my-input"
                placeholder="Retailer Address"
                ngModal
              />
            </div>
            <div class="form-group">
              <label>Password :</label>
              <input
                type="password"
                formControlName="rpassword"
                id="rpassword"
                class="form-control my-input"
                placeholder="Password"
                ngModal
              />
            </div>

            <div class="form-group">
              <label>Contact :</label>
              <input
                type="phonenumber"
                formControlName="rphone"
                id="rphone"
                class="form-control my-input"
                placeholder="Retailer's PhoneNumber"
                ngModal
              />
            </div>

            <div class="form-group">
              <label>Product Name :</label>
              <input
                type="text"
                formControlName="rpname"
                id="rpname"
                class="form-control my-input"
                placeholder="Retailer's Product Name"
                ngModal
              />
            </div>

            <div class="form-group">
              <label>Order ID :</label>
              <input
                type="number"
                formControlName="oid"
                id="oid"
                class="form-control my-input"
                placeholder="Orders Id"
                ngModal
              />
            </div>

            <div class="form-group">
              <label>Store ID :</label>
              <input
                type="number"
                formControlName="storeid"
                id="storeid"
                class="form-control my-input"
                placeholder="Store Id"
                ngModal
              />
            </div>

            <div class="form-group">
              <label>Product ID :</label>
              <input
                type="number"
                formControlName="pid"
                id="pid"
                class="form-control my-input"
                placeholder="Product Id"
                ngModal
              />
            </div>

            <div class="text-center">
              <input type="submit" value="Store Retailer's info" />&nbsp;
              <input type="reset" value="reset" />
            </div>
          </form>
          <br />
          <h3 style="text-align: center">{{ msg }}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
