<div>
  <h2>Store Customer Details</h2>
  <form [formGroup]="customerInfo" (ngSubmit)="storeCustomerDetails()">
    <label>Customer id</label>
    <input type="number" formControlName="customerid" /><br />
    <label>Customer Name</label>
    <input type="text" formControlName="name" /><br />
    <label>Email</label>
    <input type="email" formControlName="cemail" /><br />
    <label>gender</label>
    <input type="text" formControlName="gender" /><br />
    <label>Phone number</label>
    <input type="number" formControlName="phonenumber" /><br />
    <label>password</label>
    <input type="password" formControlName="password" /><br />
    <input type="submit" value="store customer info" />
    <input type="reset" value="reset" />
  </form>
  {{ msg }}
</div>
